body{
    background-color: lightblue;
}

.doge-image {
    width: 300px;
    padding: 2px;
}

.dogo-subscribe {
    position: relative;
    height: 200px;
}

.dogo-subscribe-button {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
}